<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let produto of produtos">

    <ion-item>
      <ion-avatar slot="start" class="ios hydrated">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <p>{{produto.nome}}</p>
        <p>{{produto.preco}}</p>
        <p>{{produto.updatedAt | date: 'dd/MM/yyyy'}}</p>
        <p>{{produto.loja}}</p>
        <p>{{produto.lojaEndereco}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>