<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header>
            <ion-card-title></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    
    </ion-content>
